node_modules
uploads
public/assets
public/favicon.ico
public/favicon1.ico
public/index.html
public/placeholder.svg
public/robots.txt
.env
temp_auto_push.bat
temp_interactive_push.bat
branch_structure.json
